:root {
    --backgroud-url: url("https://images.unsplash.com/photo-1444858291040-58f756a3bdd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1378&q=80");
    --theme-color: rgba(143, 50, 32, 0.6);
    --theme-color-light: rgba(253, 159, 140, 0.6);
    --theme-color-dark: rgba(169, 31, 4, 0.6);
    --background-color: rgba(57, 57, 57, 0.6);
}

body {
    height: 100vh;
    background-image: var(--backgroud-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;

}
header {
    font-size: 2.5em;
    text-align: center;
    background: var(--theme-color);
    margin: 25px auto;
    width: fit-content;
    padding: 5px 10px;
    color: white;
    border-radius: 10%;
}

#change-background-container {
    margin: 20px auto;
    display: flex;
    width: 75px;
    justify-content:space-around;
    background: rgba(197, 194, 194, 0.6);
    border-radius: 35%;
}

#previous,
#next {
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 1.5em;
    transition: all 0.5s ease-in-out;
}



#previous:hover
,#next:hover {
    background: var(--theme-color-dark);
    color: white;
}



form {
    margin: 0 auto;
    width: fit-content;
    background: white;
    padding: 0;
}

#textfield {
    font-size: 1.5em;
    border: 0;
    font-family: 'Bebas Neue', cursive;
    width: 300px;
    padding: 0 20px;
}

#add-btn {
    font-size: 1.5em;
    background: white;
    border: 0;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

#add-btn:hover {
    background: var(--theme-color);
    color: white;

}

#filter-container {
    padding: 0 20px;
    background: var(--background-color);
    display: flex;
    margin: 20px auto;
    width: 400px;
    justify-content: space-around;
}

.display-btn {
    font-size: 1em;
    text-align: center;
    width: 80px;
    margin: 5px 20px;
    border: 0;
    background: white;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.5s ease-in-out;

}

.display-btn:hover {
    background: var(--theme-color-light);
    color: white;
}

.checked-btn {
    background: var(--theme-color-dark);
    color: white;
}

#todolist {
    padding: 20px;
    background: var(--background-color);
    width: 400px;
    margin: 20px auto;
    /* overflow: scrol; */
    max-height: 350px;
    overflow-y: scroll;
}

.task {
    background: rgb(233, 232, 232);
    padding: 0 10px;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 1fr;
    margin: 25px 5px;
    color: rgb(0, 0, 0);
}

.task-name {
    font-size: 1em;
    margin: 5px 10px;
    font-family: 'Bebas Neue', cursive;
}

.complete-btn, .delete-btn {
    margin: 5px 5px;
    border: 0px;
    border-radius: 25%;
    transition: all 0.5s ease-in-out;
}

.complete-btn {
    background: rgb(156, 237, 202);
}

.complete-btn:hover {
    background:rgb(20, 243, 0);
    color: white;
}

.delete-btn {
    background: lightcoral;
}


.delete-btn:hover {
    background:rgb(251, 0, 0);
    color: white;
}

.completed-task {
    background:rgb(190, 255, 184);
    transition: all 1s ease-in-out;
}

.deleted-task {
    background: rgb(254, 114, 114);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}